
@font-face {
  font-family: 'Streamster';
  src: url('/fonts/Streamster.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

a{
  color: inherit !important; /* Inherits color property from its parent */
}

h1 {
  display: block;
  font-size: 12px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 18px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Streamster';
}

h3 {
  display: block;
  font-size: 14px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

body {
  background: #00001a;
  height: 100vh;
  overflow-x: hidden; 
  overflow-y: hidden;
}

html {
  overflow-x: hidden; 
  overflow-y: hidden;
}

.about {
  position: absolute;
  display: inline-block;
  top: 15vh;
  left: 10vw;
  width: 350px;
}

.aboutme {
  position: absolute;
  top: 40vh;
  left: 10vw;
  width: 350px;
  z-index: 1;
}


.skills {
  position: absolute;
  top: 40vh;
  right: 10vw;
  width: 350px;
  z-index: 1;
}


@media (max-width: 576px) {
  .about {
    width: 90vw;
  }
  .aboutme {
    width: 90vw;
    left: 10vw;
  }
  .skills {
    width: 90vw;
    left: 10vw;
    top: 60vh;
    padding-top: 10vh;
  }
}

@media (max-width: 870px) {
  body, html {
    overflow-y: auto;
  }
  .about {
    width: 90vw;
  }
  .aboutme {
    width: 90vw;
    left: 10vw;
  }
  .skills {
    width: 90vw;
    left: 10vw;
    top: 60vh;
  }
}


.post-thumb {
  float: left;
}

.post-thumb img {
  display: block;
  padding-right: 10px;
}

.post-content {
  margin-left: 200px;
  padding: 5px 0 0 0;
  height: 75px;
}

.avatar {
  border-radius: 200px;
}

.links {
  position: absolute;
  bottom: 5vh;
  left: calc(50vw - 77px);
  z-index: 1;
}

.border-radius-top {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.is-horizontal-center {
  justify-content: center;
}

.shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image {
  margin: 0 15px 0 15px;
}

.tile {
  margin: 0px !important;
}

.greenbg {
  background-color: #93bb46;
}

.bluebg {
  background-color: #00a2b7;
}

.darkbluebg {
  background-color: #255d69;
}

.yellowbg {
  background-color: #fcca40;
}

.redbg {
  background-color: #f25345;
}

.orangebg {
  background-color: #fa7921;
}

.whitebg {
  background-color: white;
}

.white {
  color: white;
}

.green {
  color: #93bb46;
}

.blue {
  color: #00a2b7;
}

.darkblue {
  color: #255d69;
}

.yellow {
  color: #fcca40;
}

.red {
  color: #f25345;
}

.orange {
  color: #fa7921;
}

.center * {
  margin: 0 auto;
}

.sun {
  width: 300px; 
  height: 300px;
  display: block;
  padding-top: 50px;
}

.horizontal-line-static {
  height: 4px;
  background-color: #FF00E6;
  opacity: 0.5;
}

.horizontal-line {
  height: 4px;
  background-color: #FF00E6;
  animation: moveDown 5s linear infinite;
  margin-bottom: 128px;
  opacity: 0.5;
}

@keyframes moveDown {
to {
   transform: translate(0, 132px);
}
}

