
$duration: 40;
$perspective: 100px;
$angle: 40deg;

$top: 39%;
$scale: 0.2;
$block_width: 20px;
$block_height: 5px;
$n_segments: 10;
$row_size: 10;

html, body {
  background: #0D0D27;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -moz-overflow:hidden;
  position: relative;
}

@font-face {
  font-family: 'Streamster';
  src: url('/fonts/Streamster.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

a{
  color: inherit !important; /* Inherits color property from its parent */
}

h1 {
  display: block;
  font-size: 12px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h2 {
  display: block;
  font-size: 18px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: 'Streamster';
}

h3 {
  display: block;
  font-size: 14px !important;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.about {
  position: absolute;
  display: inline-block;
  top: 15vh;
  left: 10vw;
  width: 350px;
}

.aboutme {
  position: absolute;
  top: 40vh;
  left: 10vw;
  width: 350px;
  z-index: 1;
}


.skills {
  position: absolute;
  top: 40vh;
  right: 10vw;
  width: 350px;
  z-index: 1;
}


@media (max-width: 576px) {
  .about {
    width: 90vw;
  }
  .aboutme {
    width: 90vw;
    left: 10vw;
  }
  .skills {
    width: 90vw;
    left: 10vw;
    top: 60vh;
    padding-top: 10vh;
  }
}

@media (max-width: 870px) {
  .about {
    width: 90vw;
  }
  .aboutme {
    width: 90vw;
    left: 10vw;
  }
  .skills {
    width: 90vw;
    left: 10vw;
    top: 60vh;
  }
}


.post-thumb {
  float: left;
}

.post-thumb img {
  display: block;
  padding-right: 10px;
}

.post-content {
  margin-left: 200px;
  padding: 5px 0 0 0;
  height: 75px;
}

.avatar {
  border-radius: 200px;
}

.links {
  position: absolute;
  bottom: 5vh;
  left: calc(50vw - 77px);
  z-index: 1;
}

.border-radius-top {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.is-horizontal-center {
  justify-content: center;
}

.image {
  margin: 0 15px 0 15px;
}

.tile {
  margin: 0px !important;
}

.white {
  color: white;
}

.whitebg {
  color: white;
}

.center * {
  margin: 0 auto;
}

.sun {
  width: 300px; 
  height: 300px;
  display: block;
  padding-top: 50px;
}

.horizontal-line-static {
  height: 4px;
  background-color: #FF00E6;
  opacity: 0.5;
}

@keyframes moveDown {
to {
   transform: translate(0, 100vh);
}
}

.world {
  $width: $row_size * $block_width;
  width: $width;
  height: 100px;
  position: absolute;
  left: 50%;
  // top: $top;
  margin-top: -50px;
  margin-left: -$width/2;
  perspective: $perspective;
  transform: scale3d($scale, $scale, 1);
}

.road {
  width: 68%;
  height: 100%;
  transform: rotate3d(1, 0, 0, $angle) scale3d(0.9, 0.5, 1);
  .horizontal-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: #FF00E6;
    animation-name: forward;
    animation-duration: #{$duration}s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .vertical1{
    display:inline-block;
    border-left: 1px solid #FF00E6;
    padding-right: 7%;
    height: 100vh;
  }

  .vertical1:last-child{
    border-right: 1px solid #FF00E6;
    padding-right: 10%;
    height: 100vh;
  }
}

@for $i from 1 through 50 {
  .delay-#{$i} {
    animation-delay: #{-$i * $duration/ 45}s;
  }
}

@keyframes forward {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 7 * $block_height * 10, 0); }
}

